<div class="wrapper">
  <div class="bee-background d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center ml-auto">
      <h1>Medenjaci</h1>
      <h1>Najbolja ponuda u Srbiji</h1>
    </div>

    <button class="mt-auto">Vidite nase proizvode</button>
  </div>

  <div class="box-container d-flex flex-row justify-content-between mx-auto mt-5">
    <div class="box" style="border-right: 1px solid gray">
      <fa-icon [icon]="faDelivery"></fa-icon>
      <div class="d-flex flex-column">
        <span class="heading">Dostava</span>
        <span>Na teritoriji Srbije, svim radnim danima i subotom</span>
      </div>
    </div>
    <div class="box" style="border-right: 1px solid gray">
      <fa-icon [icon]="faPhone"></fa-icon>
      <div class="d-flex flex-column">
        <span class="heading">Kontakt</span>
        <span>Pružamo telefonsku podršku kupcima</span>
      </div>
    </div>
    <div class="box">
      <fa-icon [icon]="faPayment"></fa-icon>
      <div class="d-flex flex-column">
        <span class="heading">Plaćanje</span>
        <span>Sigurno plaćanje</span>
      </div>
    </div>
  </div>
</div>
