<footer>
  <div class="d-flex flex-row justify-content-start" id="info-wrapper">
    <div class="d-flex flex-row align-items-center">
      <fa-icon class="mr-3" [icon]="faTelephone" style="font-size: 32px"></fa-icon>
      <div class="d-flex flex-column contact-info">
        <span><b>Telefon:</b> +381 63 221 221</span>
        <span><b>Email:</b> kontakt@medenjaci.rs</span>
      </div>
    </div>

    <div class="d-flex flex-column additional-info">
      <span class="heading">Adresa</span>
      <span>Bulevar Kralja Aleksandra 58<br>11000 Beograd</span>
    </div>

    <div class="d-flex flex-column additional-info">
      <span class="heading">Radno vreme</span>
      <span>radnim danima 8-17h<br>subotom 9-16h</span>
    </div>
  </div>

  <hr>
  <div class="copyrights-wrapper">
  <span class="copyrights">Sva prava su zadržana &copy 2020. Cene na sajtu su iskazane u dinarima sa uračunatim porezom.
    Nastojimo da budemo što precizniji u opisu proizvoda, prikazu slika i samih cena, ali ne možemo garantovati da su
    sve informacije kompletne i bez grešaka.</span>
  </div>
</footer>
