<div class="card m-3" style="max-width: 18rem">
  <div class="imageContainer">
    <img src="{{product.picture}}" class="card-img-top"/>
    <div
      class="card-img-overlay d-flex flex-column justify-content-center align-items-center"
      (click)="navigateToProductDetails()"
    >
      <h2 class="overlayText text-light my-auto">
        Detaljnije<br/>
      </h2>
    </div>
  </div>
  <div class="card-body d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-row justify-content-between w-100">
      <h6>{{product.name}}</h6>
      <p>{{product.price | pointReplacer}} RSD</p>
    </div>
    <a (click)="navigateToProductDetails()">Detaljnije</a>
  </div>
</div>
