<div class="wrapper d-flex flex-row">
  <div class="left-content d-flex flex-column align-items-center">

    <nav aria-label="breadcrumb" class="mt-1 ml-1 mr-auto">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Početna</a></li>
        <li class="breadcrumb-item"><a href="#">Prodavnica</a></li>
        <li class="breadcrumb-item"><a href="#">Med</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
      </ol>
    </nav>

    <img src="{{product.picture}}" class="mt-2 mb-1"/>

    <div class="info-block mb-2">
      <span><b>Način korišćenja - </b>{{product.manual}}</span>
    </div>
  </div>

  <div class="right-content d-flex flex-column justify-content-center">
    <div class="product-recap">
      <div class="d-flex flex-row justify-content-between">
        <h4>{{product.name}}</h4>
        <span class="availability">Na stanju</span>
      </div>
      <p>{{product.price | pointReplacer}} RSD</p>
      <hr>
      <span>{{product.description}}</span>
      <div class="quantityContainer mt-2">
        <form [formGroup]="myForm">
          <label for="quantity">Količina: </label>
          <input
            type="number"
            id="quantity"
            formControlName="quantity"
            min="1"
            max="5"
          />
          <div *ngIf="f.quantity.errors" class="error">
            Unesite količinu između 1-5.
          </div>
        </form>
      </div>
      <br>
      <div class="d-flex flex-row justify-content-center mb-1">
        <button (click)="addToCart()">Dodaj u korpu</button>
      </div>
    </div>
  </div>
</div>
